<div class="flex justify-center items-start min-h-screen bg-gray-100 pt-10">
  <div class="w-full max-w-[1200px] p-6 rounded-lg shadow-lg bg-white" style="user-select: none; cursor: default;">
    <h2 class="text-2xl font-semibold mb-6 text-center">Task Configuration</h2>
    <div class="flex justify-end mb-3">
      <button
        (click)="openAddTaskModal()"
        class="bg-gray-500 text-white hover:bg-gray-700 hover:text-gray-400 rounded-lg py-2 px-5 transition-all duration-300 ease-in-out shadow-lg hover:shadow-xl transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 z-10 mr-3"
      >
        Add Task
      </button>
      <button
        [routerLink]="['/dashboard', managerID]" 
        class="bg-gray-500 text-white hover:bg-gray-700 hover:text-gray-400 rounded-lg py-2 px-5 transition-all duration-300 ease-in-out shadow-lg hover:shadow-xl transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 z-10"
      >
        Back
      </button>
    </div>    
    <table class="min-w-full text-left relative">
      <thead>
        <tr class="bg-neutral-100 text-neutral-950 font-semibold">
          <th class="py-3 px-4">Task ID</th>
          <th class="py-3 px-4">Task Name</th>
          <th class="py-3 px-4">Status</th>
          <th class="py-3 px-4">Assigned Employee</th>
          <th class="py-3 px-4">Priority</th>
          <th class="py-3 px-4">Due Date</th>
          <th class="py-3 px-4">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index" class="odd:bg-neutral-50 even:bg-neutral-200 text-neutral-950">
          <td class="py-3 px-4">{{ task.taskId }}</td>
          <td class="py-3 px-4">{{ task.taskTitle }}</td>
          <td class="py-3 px-4">
            <span class="relative inline-flex flex-col items-center">
             
              <span class="block w-4 h-4 rounded-full animate-pulse"
                [ngStyle]="{
                  background: task.status === 'Completed' ? '#22c55e' :
                              task.status === 'In Progress' ? '#f39c12' :
                              task.status === 'In Review' ? '#1e40af' :
                              task.status === 'Overdue' ? '#ef4444' :
                              '#2a3439' 
                }">
              </span>
              
              <span class="text-neutral-600 text-xs mt-1">{{ task.status }}</span>
            </span>
          </td>
          <td class="py-3 px-4">{{ task.assignedTo }}</td>
          <td class="py-3 px-4">{{ task.priority }}</td>
          <td class="py-3 px-4">{{ task.dueDateTime | date: 'medium' }}</td>
          <td class="py-3 px-4 flex items-center space-x-2">

            <button
  *ngIf="task.status === 'In Review'"
  (click)="openReviewModal(task)"
  class="bg-blue-500 hover:bg-blue-700 text-white rounded-full p-3 transition-all duration-300 ease-in-out shadow-lg hover:shadow-xl transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
>
  Review
</button>


            <button
            (click)="openUpdateTaskModel(task)"
            class="bg-gray-500 text-white hover:bg-gray-700 hover:text-gray-400 rounded-full p-3 transition-all duration-300 ease-in-out shadow-lg hover:shadow-xl transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
          >
         
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
          </svg>
          
          </button>
          
        
          <button
            (click)="deleteTask(task.taskId)"
            class="bg-red-500 hover:bg-red-700 text-white rounded-full p-3 transition-all duration-300 ease-in-out shadow-lg hover:shadow-xl transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
          >
           
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
          </svg>
          
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Add Task Modal -->
<div *ngIf="isAddTaskModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="bg-white w-[480px] rounded-lg shadow-lg p-6 relative z-60">
    <h3 class="text-xl font-bold mb-4">Add New Task</h3>
    <form [formGroup]="taskForm" (ngSubmit)="saveNewTask()">
      <div class="mb-4">
        <label class="block font-semibold">Task Name</label>
        <input type="text" formControlName="taskTitle" class="w-full p-2 border rounded" />
        <div *ngIf="taskForm.get('taskTitle')?.invalid && taskForm.get('taskTitle')?.touched" class="text-red-500 text-sm">
          Task Name is required.
        </div>
      </div>

      <div class="mb-4">
        <label class="block font-semibold">Task Description</label>
        <textarea formControlName="taskDescription" class="w-full p-2 border rounded"></textarea>
        <div *ngIf="taskForm.get('taskDescription')?.invalid && taskForm.get('taskDescription')?.touched" class="text-red-500 text-sm">
          Task Description is required.
        </div>
      </div>

      <div class="mb-4">
        <label class="block font-semibold">Due Date</label>
        <input type="date" formControlName="dueDate" class="w-full p-2 border rounded" />
        <div *ngIf="taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched" class="text-red-500 text-sm">
          Due Date is required.
        </div>
      </div>

      <div class="mb-4">
        <label class="block font-semibold">Due Time</label>
        <input type="time" formControlName="dueTime" class="w-full p-2 border rounded" />
        <div *ngIf="taskForm.get('dueTime')?.invalid && taskForm.get('dueTime')?.touched" class="text-red-500 text-sm">
          Due Time is required.
        </div>
      </div>

      <div class="mb-4">
        <label class="block font-semibold">Priority</label>
        <select formControlName="priority" class="w-full p-2 border rounded">
          <option value="LOW">Low</option>
          <option value="MEDIUM">Medium</option>
          <option value="HIGH">High</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="block font-semibold">Assigned To</label>
        <select formControlName="employeeId" class="w-full p-2 border rounded">
          <option *ngFor="let employee of employees" [value]="employee.empId">{{ employee.name }}</option>
        </select>
      </div>

      <div class="flex justify-end">
        <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white rounded-md py-2 px-4 mr-2">Save Task</button>
        <button type="button" (click)="closeAddTaskModal()" class="bg-gray-500 hover:bg-gray-700 text-white rounded-md py-2 px-4">Cancel</button>
      </div>
    </form>
  </div>
</div>



<!-- Update Task Modal -->
<div *ngIf="isUpdateTaskModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="bg-white w-[480px] rounded-lg shadow-lg p-6 relative z-60">
    <h3 class="text-xl font-bold mb-4">Update Task</h3>
    <form [formGroup]="taskForm" (ngSubmit)="updateTaskDetails()">
      <div class="mb-4">
        <label class="block font-semibold">Task Name</label>
        <input type="text" formControlName="taskTitle" class="w-full p-2 border rounded" />
        <div *ngIf="taskForm.get('taskTitle')?.invalid && taskForm.get('taskTitle')?.touched" class="text-red-500 text-sm">
          Task Name is required.
        </div>
      </div>

      <div class="mb-4">
        <label class="block font-semibold">Task Description</label>
        <textarea formControlName="taskDescription" class="w-full p-2 border rounded"></textarea>
        <div *ngIf="taskForm.get('taskDescription')?.invalid && taskForm.get('taskDescription')?.touched" class="text-red-500 text-sm">
          Task Description is required.
        </div>
      </div>

      <div class="mb-4">
        <label class="block font-semibold">Due Date</label>
        <input type="date" formControlName="dueDate" class="w-full p-2 border rounded" />
        <div *ngIf="taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched" class="text-red-500 text-sm">
          Due Date is required.
        </div>
      </div>

      <div class="mb-4">
        <label class="block font-semibold">Due Time</label>
        <input type="time" formControlName="dueTime" class="w-full p-2 border rounded" />
        <div *ngIf="taskForm.get('dueTime')?.invalid && taskForm.get('dueTime')?.touched" class="text-red-500 text-sm">
          Due Time is required.
        </div>
      </div>

      <div class="mb-4">
        <label class="block font-semibold">Priority</label>
        <select formControlName="priority" class="w-full p-2 border rounded">
          <option value="LOW">Low</option>
          <option value="MEDIUM">Medium</option>
          <option value="HIGH">High</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="block font-semibold">Assigned To</label>
        <select formControlName="employeeId" class="w-full p-2 border rounded">
          <option *ngFor="let employee of employees" [value]="employee.empId">{{ employee.name }}</option>
        </select>
      </div>

      <div class="flex justify-end">
        <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white rounded-md py-2 px-4 mr-2">Update Task</button>
        <button type="button" (click)="closeUpdateTaskModal()" class="bg-gray-500 hover:bg-gray-700 text-white rounded-md py-2 px-4">Cancel</button>
      </div>
    </form>
  </div>
</div>


<ng-template #reviewModal>
  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-white rounded-lg p-6 w-full max-w-sm shadow-lg text-center">
      <h3 class="text-lg font-semibold mb-4 text-gray-800">Review Task</h3>
      <div class="flex justify-center gap-4">
        <button
          (click)="approveTask(selectedTask)"
          class="bg-green-500 text-white hover:bg-green-700 rounded-lg px-6 py-3 text-sm font-medium transition duration-200"
        >
          Approve Task
        </button>
        <button
          (click)="requestRework(selectedTask)"
          class="bg-yellow-500 text-white hover:bg-yellow-700 rounded-lg px-6 py-3 text-sm font-medium transition duration-200"
        >
          Request Rework
        </button>
        <button
          (click)="closeModal()"
          class="bg-gray-500 text-white hover:bg-gray-700 rounded-lg px-6 py-3 text-sm font-medium transition duration-200"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>

